description = "About Partial"
==
<section class="about" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <!-- section title -->
                <div class="title text-center">
                    <h2>About Us</h2>
                    <p>
                        Our goals is to provide best solution to meet our customer production within utilization for their machine to get more efficient and effective
                    </p>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img loading="lazy" src="{{ 'assets/images/about-us.jpg'|theme }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6">
                <p>
                    Established in 2019, PT. Rubarta Prima Abadi ( RPA ) is distributor of heavy equipment parts and service. We have deep knowledge in Heavy Equipment, Units and Parts since 1995 throughout Indonesia’s market.
                </p>

                <p>
                    Our Products are high quality product to support heavy equipment such as Filtration, Hoses, Bucket, Seal Kit, Undercarriage and others. RPA supports International heavy equipment brand including Komatsu, Hitachi, Kobelco and Caterpillar.
                </p>

                <p>
                    RPA has the capacity to service customers in domestic market, 
                    end-user in diverse Industrial raging from Infrastructure development , construction, mining and agricultural to forestry 
                </p>


                
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->