description = "Area Partial"
==
<section class="hero-area" style="background-image: url({{ 'assets/images/rubarta-prima-abadi.png'|theme }})">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block mt-4">
                    <h4>PT. RUBARTA PRIMA ABADI</h4>
                    <h2 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">
                       Your best partner for your best heavy equipment performance
                    </h2>
                    <p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">
                        Our goals is to provide best solution to meet our customer production within utilization for their machine to get more efficient and effective 
                    </p>
                    <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                        <li class="list-inline-item">
                            <a data-scroll href="#services" class="btn btn-main">Explore Us</a>
                        </li>
                        <!-- <li class="list-inline-item">
                            <a data-scroll href="#team" class="btn btn-transparent">Learn More</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>