description = "CTA Partial"
==
<section class="call-to-action-2 section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a tempor eros. Pellentesque elementum
                    nulla sed justo tempor posuere sit amet sit amet ligula.
                </h2>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->