description = "Footer Partial"
==
<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <h3>about</h3>
                    <p>We are driven by our passion to serve and this fuels our dream of
							becoming the preferred partner of choice within our cervices. We
							have built a company with big ambitions to achieve great things in
							the logistics sector, growing and succeeding in a challenging,
							fiercely competitive market.</p>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <ul>
                        <li>
                            <h3>Our Services</h3>
                        </li>
                        <li><a href="{{ 'rubarta-logistic-indonesia/international-freight-forwarding'|page }}">International Freight & Forwarding</a></li>
                        <li><a href="{{ 'rubarta-logistic-indonesia/domestic-forwarding'|page }}">Domestic Forwarding</a></li>
                        <li><a href="{{ 'rubarta-logistic-indonesia/logistic-project'|page }}">Logistic Project</a></li>
                        <li><a href="{{ 'rubarta-logistic-indonesia/control-towering'|page }}">Control Tower Project</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
                    <ul>
                        <li>
                            <h3>Quick Links</h3>
                        </li>
                        <li><a href="{{ 'rubarta-logistic-indonesia/about'|page }}">About</a></li>
                        <li><a href="{{ 'rubarta-logistic-indonesia/service'|page }}">Services</a></li>
                        <li><a href="{{ 'rubarta-logistic-indonesia/network'|page }}">Network</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-lg-3 col-md-6">
                    <ul>
                        <li>
                            <h3>Contact Us</h3>
                        </li>
                        <li class="text-white">
                            Jl. Hj Basyar 3 No.6 RT.002 RW.03 Jaticempaka <br />
							Pondok Gede Bekasi <br />
							<br />
							<strong>Phone:</strong> +62 21 4258949<br />
							<strong>Fax:</strong> +62 21 4258949<br />
							<strong>Email:</strong> info@rubarta.co.id<br />
                        </li>
                        
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

            </div>
        </div> <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>&copy; Copyright 2021. All rights reserved.</h5>
        <!-- <h6>Design and Developed by <a href="https://themefisher.com/">Themefisher</a></h6> -->
    </div>
</footer> <!-- end footer -->