description = "Map Partial"
==
<!-- <div class="google-map">
    <div id="map_canvas" class="map_canvas" data-latitude="-6.259419" data-longitude="106.9197907"
        data-marker="images/marker.png" data-marker-name="Jl. H. Basyar III No.6, RT.003/RW.003, Jaticempaka, Kec. Pondokgede, Kota Bks, Jawa Barat 17411"></div>
</div> -->
	
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0327712239787!2d106.91760201531943!3d-6.259413663026423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698d2938ea5d3d%3A0xfacfd9cc5a3837cc!2sJl.%20H.%20Basyar%20III%20No.6%2C%20RT.003%2FRW.003%2C%20Jaticempaka%2C%20Kec.%20Pondokgede%2C%20Kota%20Bks%2C%20Jawa%20Barat%2017411!5e0!3m2!1sen!2sid!4v1616082461591!5m2!1sen!2sid" width="100%" height="400" frameborder="0" style="border:0;margin:0" allowfullscreen="" loading="lazy"></iframe>