description = "Portfolio Partial"
==
<section class="portfolio section-sm" id="portfolio">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Our Works</h2>
                    <!-- <p>
                        Below some of ouw project
                    </p> -->
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="portfolio-filter">
                    <button type="button" data-filter="all">All</button>
                    <button type="button" data-filter="project">Logistic Project</button>
                    <button type="button" data-filter="asset">Our Asset</button>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="filtr-container">
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, project">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ '/storage/app/media/project/a.jpg' }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ '/storage/app/media/project/a.jpg' }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, project">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ '/storage/app/media/project/b.jpg' }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ '/storage/app/media/project/b.jpg'|theme }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, photography, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ '/storage/app/media/project/c.jpg' }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ '/storage/app/media/project/c.jpg' }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, project">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ '/storage/app/media/project/c.jpg' }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ '/storage/app/media/project/c.jpg' }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, project">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ '/storage/app/media/project/d.jpg' }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ '/storage/app/media/project/d.jpg' }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'assets/images/portfolio/portfolio-6.jpg'|theme }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'assets/images/portfolio/portfolio-6.jpg'|theme }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, photography">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'assets/images/portfolio/portfolio-7.jpg'|theme }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'assets/images/portfolio/portfolio-7.jpg'|theme }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item "
                                data-category="mix, design, development">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ 'assets/images/portfolio/portfolio-1.jpg'|theme }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ 'assets/images/portfolio/portfolio-1.jpg'|theme }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4><a href="{{ 'portfolio'|page }}">AirBnB Postcard</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /end col-lg-12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- End section -->