description = "Product Partial"
==
<section class="services" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center">
                    <h2>Our Product</h2>
                    <!-- <p>
                        Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum
                        iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a
                        risus luctus dignissim.
                    </p> -->
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>
        <div class="row no-gutters">

            <!-- Single Service Item -->
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <a href="/rubarta-logistic-indonesia/international-freight-forwarding">
                            <i class="tf-ion-android-plane"></i>
                        </a>
                    </div>
                    
                    <a href="/rubarta-logistic-indonesia/international-freight-forwarding">
                        <h3>Hitachi Genuine Parts Supply</h3>
                    </a>
                    
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <a href="/rubarta-logistic-indonesia/domestic-forwarding">
                            <i class="tf-ion-android-train"></i>
                        </a>
                    </div>
                    
                    <a href="/rubarta-logistic-indonesia/domestic-forwarding">
                        <h3>OEM Filter Fabrication for Hitachi, Sany, Komatsu etc.</h3>
                    </a>
                    
                </div>
            </div>
            <!-- End Single Service Item -->
            
            <!-- Single Service Item -->
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <a href="/rubarta-logistic-indonesia/logistic-project">
                            <i class="tf-ion-ios-shuffle-strong"></i>
                        </a>
                        
                    </div>
                    <a href="/rubarta-logistic-indonesia/logistic-project">
                        <h3>OEM Turbocharge</h3>
                    </a>
                    
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <a href="/rubarta-logistic-indonesia/control-towering">
                            <i class="tf-ion-android-settings"></i>
                        </a>
                        
                    </div>
                    <a href="/rubarta-logistic-indonesia/control-towering">
                        <h3>G E T (Ground Engagements Tools)</h3>
                    </a>
                    
                </div>
            </div>
            <!-- End Single Service Item -->

            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <a href="/rubarta-logistic-indonesia/control-towering">
                            <i class="tf-ion-android-settings"></i>
                        </a>
                        
                    </div>
                    <a href="/rubarta-logistic-indonesia/control-towering">
                        <h3>Front Attachment tools Bucket, Fixed Grapple etc.</h3>
                    </a>
                    
                </div>
            </div>

        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->