description = "Slider Partial"

[builderList]
modelClass = "Udibagas\Rubarta\Models\Slider"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}

<div class="hero-slider">
    {% for record in records %}
    <div class="slider-item th-fullpage hero-area" style="background-image: url('{{ record.image.path }}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-white" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">
                        {{record.name}}
                    </h3>
                    <h1 class="mt-0" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".3">
                        {{record.title}}
                    </h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">
                        {{record.description}}
                    </p>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
                        href="{{record.url}}">{{record.button}}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>