description = "Team Partial"
==
<section class="team" id="team">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center ">
                    <h2>Our Team</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quasi tempora obcaecati,
                        quis similique quos.
                    </p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>
        <div class="row">
            <!-- team member -->
            <div class="col-lg-4 col-md-6">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img loading="lazy" class="img-fluid" src="{{ 'assets/images/team/member-1.jpg'|theme }}"
                            alt="Meghna">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-twitter"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-google-outline"></i></a>
                                </li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Michael Jonson</h3>
                        <span>Head Of Marketing</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam,
                            culpa odio.
                        </p>
                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <!-- end team member -->

            <!-- team member -->
            <div class="col-lg-4 col-md-6">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img loading="lazy" class="img-fluid" src="{{ 'assets/images/team/member-2.jpg'|theme }}"
                            alt="Meghna">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-twitter"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-google-outline"></i></a>
                                </li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>Carrick Mollenkamp</h3>
                        <span>Web Developer</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam,
                            culpa odio.
                        </p>
                    </div>
                    <!-- /member name & designation -->
                </div>
            </div>
            <!-- end team member -->

            <!-- team member -->
            <div class="col-lg-4 col-md-6">
                <div class="team-member text-center">
                    <div class="member-photo">
                        <!-- member photo -->
                        <img loading="lazy" class="img-fluid" src="{{ 'assets/images/team/member-3.jpg'|theme }}"
                            alt="Meghna">
                        <!-- /member photo -->

                        <!-- member social profile -->
                        <div class="mask">
                            <ul class="clearfix">
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-facebook"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-twitter"></i></a></li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-google-outline"></i></a>
                                </li>
                                <li><a href="https://themefisher.com/"><i class="tf-ion-social-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <!-- /member social profile -->
                    </div>

                    <!-- member name & designation -->
                    <div class="member-content">
                        <h3>David Gauthier</h3>
                        <span>Head Of Management</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam,
                            culpa odio.
                        </p>
                    </div>
                    <!-- /member name & designation -->

                </div>
            </div>
            <!-- end team member -->
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->