description = "Team Skill Partial"
==
<section class="team-skills section-sm" id="skills">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center">
                    <h2>Our Skills</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus fugiat, vel veniam, eos et
                        delectus eveniet molestiae. Esse, voluptas ratione.
                    </p>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>

        <div class="row justify-content-between">
            <div class="col-md-5">
                <div class="team-skills-content">
                    <h2 class="mb-3">Simple To Start</h2>
                    <p>
                        Vestibulum nisl tortor, consectetur quis imperdiet bium, letcu. Sedndime ntumiaculis ex, in
                        faucibus lorem accumsan non. Donec mattis tin unt metuorbi sed tort Igor aman luctus dignissim.
                        Vestibulum nisl tortor, consectetur quis imperdiet bium, letcu. Sedndime ntumiaculis ex, in
                        faucibus lorem accumsan non.
                    </p>
                    <a href="{{ 'contact'|page }}" class="btn btn-main mt-20">Contact Us</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="progress-block">
                    <ul>
                        <li class="mb-3">
                            <span>Photoshop</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 90%;">
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <span>Web Application</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 85%;">
                                </div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <span>Andriod Application</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 92%;">
                                </div>
                            </div>
                        </li>
                        <li>
                            <span>IOS Development</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 78%;">
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div> <!-- End row -->
        <div class="row">
            <div class="col-md-12 mt-4">
                <div id="clients-slider" class="clients-logo-slider">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo1.png'|theme }}" alt="">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo-2.png'|theme }}" alt="">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo-3.png'|theme }}" alt="">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo-4.png'|theme }}" alt="">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo-5.png'|theme }}" alt="">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo1.png'|theme }}" alt="">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo-2.png'|theme }}" alt="">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo-3.png'|theme }}" alt="">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo-4.png'|theme }}" alt="">
                    <img loading="lazy" src="{{ 'assets/images/client-logo/logo-5.png'|theme }}" alt="">
                </div>
            </div>
        </div>
    </div> <!-- End container -->
</section> <!-- End section -->