description = "Blog Partial"
==
<section class="blog" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center ">
                    <h2> Latest <span class="color">Posts</span></h2>
                    <div class="border"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facere accusamus,
                        reprehenderit
                        libero inventore nam.
                    </p>
                </div>
            </div>
            <!-- /section title -->
        </div>

        <div class="row">
            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ 'assets/images/blog/post-1.jpg'|theme }}"
                            alt="amazing caves coverimage" class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="{{ 'single-post'|page }}">Reasons to Smile</a></h3>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non skateboard dolor brunch.
                        </p>
                        <a class="btn btn-main" href="{{ 'single-post'|page }}">Read more</a>
                    </div>
                </div>
            </article>
            <!-- /single blog post -->

            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ 'assets/images/blog/post-2.jpg'|theme }}"
                            alt="amazing caves coverimage" class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="{{ 'single-post'|page }}">A Few Moments</a></h3>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non skateboard dolor brunch.
                        </p>
                        <a class="btn btn-main" href="{{ 'single-post'|page }}">Read more</a>
                    </div>
                </div>
            </article>
            <!-- end single blog post -->

            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ 'assets/images/blog/post-3.jpg'|theme }}"
                            alt="amazing caves coverimage" class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="{{ 'single-post'|page }}">Hints for Life</a></h3>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non skateboard dolor brunch.
                        </p>
                        <a class="btn btn-main" href="{{ 'single-post'|page }}">Read more</a>
                    </div>
                </div>
            </article>
            <!-- end single blog post -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end section -->