description = "CTA Partial"
==
<section class="call-to-action section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 text-center">
                <h2>Let's Create Something Together</h2>
                <p>
                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin bibendum auctor, nisi elit consequat
                    ipsum, nesagittis sem nid elit. Duis sed odio sitain elit.
                </p>
                <a href="{{ 'contact'|page }}" class="btn btn-main">Contact Us</a>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->