description = "About Shot Info Partial"
==
<section class="about-shot-info section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-20">
                <h2 class="mb-3">Professional Freight & Forwarding</h2>
                <p>
                    We are driven by our passion to serve and this fuels our dream of becoming the preferred partner of choice within our cervices.  
                </p>
                <p>
                    We have built a company with big ambitions to achieve great things in the logistics sector, growing and succeeding in a challenging, fiercely competitive market. We have been amassing expertise and experience for decades, relentlessly striving to provide specialized logistics services.
                </p>
                <p>
                     We consider people to be our best assets, training and honing the specialist skills necessary to serve our clients’ every need, implementing tailor-made logistics concepts.
Quality and integrity underpin all that we do in the creation of new and exciting services designed to give our partners and clients complete satisfaction.
                </p>
                
                
                
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <img loading="lazy" class="img-fluid" src="{{ 'assets/images/about-us.jpg'|theme }}" alt="">
            </div>
        </div>
        
        <div class="row mt-20">
            <div class="col">
                <img loading="lazy" style="height:300px" class="img-fluid" src="{{ 'assets/images/aim.jpg'|theme }}" alt="">
            </div>
            
            <div class="col">
                <h3>Aim</h3>
                <p>
                    We will involve into the leading global provider of integrated supply chain. We will consistently exceed our customer with continues improvement diverse requirement by leveraging and enhancing our :  
                </p>
                <p>
                    &bull; Global Network <br>
                    &bull; Local ensign <br>
                    &bull; Specialized Logistic capabilities <br>
                    &bull; Motivated, skilled and continues improvement. <br>
                </p>
            </div>
        </div>
    </div>
</section>