description = "Promo Video Partial"
==
<section class="promo-video section-sm">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center">
                    <h2>Our Promo Video</h2>
                    <p>
                        Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu.Sed condimentum
                        iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a
                        risus luctus dignissim.
                    </p>
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- /section title -->
            <div class="col-md-8 mx-auto">
                <iframe width="100%" height="360" src="https://www.youtube.com/embed/XjJTGKa-0wk" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>