description = "Blank Layout"
==
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Bingo | Responsive Multipurpose Parallax HTML5 Template</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="One page parallax responsive HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/images/october.png'|theme }}" />

    <!-- CSS
    ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="{{ 'assets/plugins/themefisher-font/style.css'|theme }}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{{ 'assets/plugins/bootstrap/bootstrap.min.css'|theme }}">
    <!-- Lightbox.min css -->
    <link rel="stylesheet" href="{{ 'assets/plugins/lightbox2/css/lightbox.min.css'|theme }}">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ 'assets/plugins/animate/animate.css'|theme }}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{{ 'assets/plugins/slick/slick.css'|theme }}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">

</head>
<body id="body">
    <!--
    Start Preloader
    ==================================== -->
    <div id="preloader">
        <div class='preloader'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--
    End Preloader
    ==================================== -->
    
    {% page %}
    
    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="{{ 'assets/plugins/jquery/jquery.min.js'|theme }}"></script>
    
    <!-- Bootstrap4 -->
    <script src="{{ 'assets/plugins/bootstrap/bootstrap.min.js'|theme }}"></script>
    <!-- Parallax -->
    <script src="{{ 'assets/plugins/parallax/jquery.parallax-1.1.3.js'|theme }}"></script>
    <!-- lightbox -->
    <script src="{{ 'assets/plugins/lightbox2/js/lightbox.min.js'|theme }}"></script>
    <!-- Owl Carousel -->
    <script src="{{ 'assets/plugins/slick/slick.min.js'|theme }}"></script>
    <!-- filter -->
    <script src="{{ 'assets/plugins/filterizr/jquery.filterizr.min.js'|theme }}"></script>
    <!-- Smooth Scroll js -->
    <script src="{{ 'assets/plugins/smooth-scroll/smooth-scroll.min.js'|theme }}"></script>
    
    <!-- Custom js -->
    <script src="{{ 'assets/js/script.js'|theme }}"></script>
</body>
</html>