description = "Post Partial"

[viewBag]
==
<section class="posts section">
    <div class="container">
        <div class="row">
            <!-- /section title -->
            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ 'assets/images/blog/post-1.jpg'|theme }}" alt="amazing caves coverimage"
                            class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="{{ 'single-post'|page }}">Reasons to Smile</a></h3>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non skateboard dolor brunch.
                        </p>
                        <a class="btn btn-main" href="{{ 'single-post'|page }}">Read more</a>
                    </div>
                </div>
            </article>
            <!-- /single blog post -->

            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ 'assets/images/blog/post-2.jpg'|theme }}" alt="amazing caves coverimage"
                            class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="{{ 'single-post'|page }}">A Few Moments</a></h3>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non skateboard dolor brunch.
                        </p>
                        <a class="btn btn-main" href="{{ 'single-post'|page }}">Read more</a>
                    </div>
                </div>
            </article>
            <!-- end single blog post -->

            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ 'assets/images/blog/post-3.jpg'|theme }}" alt="amazing caves coverimage"
                            class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="{{ 'single-post'|page }}">Hints for Life</a></h3>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non skateboard dolor brunch.
                        </p>
                        <a class="btn btn-main" href="{{ 'single-post'|page }}">Read more</a>
                    </div>
                </div>
            </article>
            <!-- /section title -->
            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ 'assets/images/blog/post-4.jpg'|theme }}" alt="amazing caves coverimage"
                            class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="{{ 'single-post'|page }}">Looking Back</a></h3>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non skateboard dolor brunch.
                        </p>
                        <a class="btn btn-main" href="{{ 'single-post'|page }}">Read more</a>
                    </div>
                </div>
            </article>
            <!-- /single blog post -->

            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ 'assets/images/blog/post-5.jpg'|theme }}" alt="amazing caves coverimage"
                            class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="{{ 'single-post'|page }}">Laugh and Cry</a></h3>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non skateboard dolor brunch.
                        </p>
                        <a class="btn btn-main" href="{{ 'single-post'|page }}">Read more</a>
                    </div>
                </div>
            </article>
            <!-- end single blog post -->

            <!-- single blog post -->
            <article class="col-lg-4 col-md-6">
                <div class="post-item">
                    <div class="media-wrapper">
                        <img loading="lazy" src="{{ 'assets/images/blog/post-6.jpg'|theme }}" alt="amazing caves coverimage"
                            class="img-fluid">
                    </div>

                    <div class="content">
                        <h3><a href="{{ 'single-post'|page }}">Regret No More</a></h3>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non skateboard dolor brunch.
                        </p>
                        <a class="btn btn-main" href="{{ 'single-post'|page }}">Read more</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>