title = "Control Towering"
url = "/rubarta-logistic-indonesia/control-towering"
layout = "rubarta-logistic-indonesia"
is_hidden = 0
==
{% partial 'rubarta-logistic-indonesia/sp-header' %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 my-5">
            <h3>CONTROL TOWERING</h3>
            <p>
                
    
            </p>
        </div>
        
        <div class="col-md-6 my-5">
            <img src="storage/app/media/asset/control.png" alt="" class="img-fluid">
        </div>
    </div>
</div>