title = "Domestic Forwarding"
url = "/rubarta-logistic-indonesia/domestic-forwarding"
layout = "rubarta-logistic-indonesia"
is_hidden = 0
==
{% partial 'rubarta-logistic-indonesia/sp-header' %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 my-5">
            <h3>1. AIR FRIGHT DOMESTIC SHIPMENT</h3>
            <p>
                We are working door to door services for domestic air shipment to entire Indonesia teritory without minimum weight. 
    
            </p>
        </div>
        
        <div class="col-md-6 my-5">
            image
        </div>
        
        <div class="col-md-6 my-5">
            image
        </div>
        
        <div class="col-md-6 my-5">
            <h3>2. SEA FREIGHT DOMESTIC SHIPMENT</h3>
            <p>
                We are working door to door services for domestic sea shipment to entire Indonesia teritory.
            </p>
        </div>
        
        <div class="col-md-6 my-5">
            <h3>3. SEA FREIGHT DOMESTIC SHIPMENT</h3>
            <p>
                We providing land mode transportation by using various truck for transporting to Java, Sumatra, Kalimantan & Sulawesi.
            </p>
        </div>
        
        <div class="col-md-6 my-5">
            image
        </div>
    </div>
</div>