title = "International Freight & Forwarding"
url = "/rubarta-logistic-indonesia/international-freight-forwarding"
layout = "rubarta-logistic-indonesia"
description = "INTERNATIONAL FREIGHT & FORWARDING"
meta_title = "INTERNATIONAL FREIGHT & FORWARDING"
meta_description = "INTERNATIONAL FREIGHT & FORWARDING"
is_hidden = 0
==
{% partial 'rubarta-logistic-indonesia/sp-header' %}

<div class="container my-5">
    
    
    <div class="row my-5">
        <div class="col-md-6">
            <h4>AIR FRIGHT SHIPMENT</h4>
            <p>
                Working door to door services with carefully selected carriers. To defined lead times, end to end visibility and scheduled to make more efficient. 
                We offer  a range of highly flexible product which  allow a choice of delivery speed to best suit your requirement. 
        
            </p>
        </div>
        
        <div class="col-md-6">
            image will be here
        </div>
    </div>
    
    <div class="row my-5">
        <div class="col-md-6">
            <h4>SEA FRIGHT SHIPMENT</h4>
            <p>
                With our sea freight  we cover different equipment types ( FCL “Full Container Load”, LCL “Less Than Container Load” and Break Bulk ) 
                and consolidation services to ensure your cargo reaches the right place, at the right time in a cost-efficient way. 
                In order to deliver highest reliability we have planned space protection from every major container port in the world.
        
            </p>
        </div>
        
        <div class="col-md-6">
            <img class="img-fluid" src="{{ 'assets/images/slider/kapal.png'|theme }}" alt="">
        </div>
    </div>
    
    <div class="row my-5">
        <div class="col-md-6">
            <h4>CUSTOMS PROCESS</h4>
            <p>
                The one of our service is “ONE STOP CUSTOMS PROCESS ?” we offer you one door customs process for every shipment 
                to make efficient from VO survey in bond or out bond and customs clearance. 
                We can bring you dedicated person which can be place in your office to make efficient coordination.
        
            </p>
            
            <p>
                <strong>Advantage</strong> <br> <br>
            
                &bull; Single way information so make easy coordination. <br>
                &bull; Single door process from VO to SPPB and others. <br>
                &bull; More efficient & easy coordination <br>
                &bull; Competitive price
            </p>
            
            <p>
                <strong>Disadvantage</strong> <br> <br>
                
                &bull; Might be can reduce customer employee due to single way process.
            </p>
        </div>
        
        <div class="col-md-6">
            image will be here
        </div>
    </div>
    
    
</div>