title = "Logistic Project"
url = "/rubarta-logistic-indonesia/logistic-project"
layout = "rubarta-logistic-indonesia"
description = "Logistic Project"
meta_title = "Logistic Project"
meta_description = "Logistic Project"
is_hidden = 0
==
{% partial 'rubarta-logistic-indonesia/sp-header' %}

<div class="container my-5">
    
    <div class="row my-5">
        <div class="col-md-8 mb-4">
            <h4>LOGISTIC PROJECT</h4>
            <p>
                We are able to providing logistic project for logistic transportation with combine mode transprtation Land & Sea. 
                We are on going logistis project to delivery arm forces equipment from the Head Quarter of Goverment Defense 
                to each division location in whole entire Indonesia teritory.
            </p>
        </div>
        
        <div class="col-md-4 mb-4">
            <img class="img-fluid" src="{{ 'storage/app/media/project/a.jpg' }}" alt="">
        </div>
        
        <div class="col-md-4 mb-4">
            <img class="img-fluid" src="{{ 'storage/app/media/project/b.jpg' }}" alt="">
        </div>
        
        <div class="col-md-4 mb-4">
            <img class="img-fluid" src="{{ 'storage/app/media/project/c.jpg' }}" alt="">
        </div>
        
        <div class="col-md-4 mb-4">
            <img class="img-fluid" src="{{ 'storage/app/media/project/d.jpg' }}" alt="">
        </div>
    </div>
</div>