title = "Our Network"
url = "/rubarta-logistic-indonesia/network"
layout = "rubarta-logistic-indonesia"
is_hidden = 0
==
{% partial 'rubarta-logistic-indonesia/sp-header' %}

<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <!-- section title -->
                <div class="title text-center">
                    <h2>International Network</h2>
                    <!-- <p>
                        
                    </p> -->
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 text-center">
                <img class="img-fluid" src="{{'assets/images/network.png'|theme}}" alt="">
            </div>
        </div>
        <br><br><br>

        <div class="row justify-content-center mt-3">
            <div class="col-xl-6 col-lg-8">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Domestic Network</h2>
                    <!-- <p>
                        
                    </p> -->
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>

        
    </div> <!-- end container -->

    <div class="container">
        <div class="row my-4">
            <div class="col-12 text-center">
                <img class="img-fluid" src="{{'assets/images/domestic.png'|theme}}" alt="">
            </div>
        </div>

        <br>

        <div class="d-flex justify-content-between my-4">
            <div>
                <strong>JAVA</strong> <br>
                Jakarta <br>
                Surabaya
            </div>

            <div>
                <strong>SUMATERA</strong> <br>
                Padang <br>
                Medan <br>
                Pekanbaru <br>
                Palembang <br>
                Lampung <br>
            </div>

            <div>
                <strong>SULAWESI</strong> <br>
                Makassar <br>
                Kendari <br>
                Manado <br>
            </div>

            <div>
                <strong>KALIMANTAN</strong> <br>
                Banjarmasin <br>
                Balikpapan <br>
            </div>

            <div>
                <strong>PAPUA</strong> <br>
                Sorong <br>
                Jayapura <br>
            </div>
        </div>
        <br><br><br>
    </div>
</section> <!-- End section -->

