title = "Our Unit"
url = "/rubarta-logistic-indonesia/unit"
layout = "rubarta-logistic-indonesia"
is_hidden = 0

[builderList]
modelClass = "Udibagas\Rubarta\Models\Portfolio"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php

use Udibagas\Rubarta\Models\Portfolio;

function onStart()
{
    $this['units'] = Portfolio::where('tag', 'Our Unit')->get();
}

?>
==
{% partial 'rubarta-logistic-indonesia/sp-header' %}

<section class="portfolio section-sm" id="portfolio">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Our Unit</h2>
                    <p>
                        To support logistic tranportation we invest several vehicles :
                    </p>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-12">
                        <div class="filtr-container">
                            {% for record in units %}
                            <div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="mix, {{record.tag}}">
                                <div class="portfolio-block">
                                    <img class="img-fluid" src="{{ record.image.thumb(450, 450, 'crop') }}"
                                        alt="">
                                    <div class="caption">
                                        <a class="search-icon"
                                            href="{{ record.image.path }}"
                                            data-lightbox="image-1">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                        <h4>{{record.title}}</h4>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> <!-- /end col-lg-12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- End section -->