description = "About Partial"
==
<section class="about" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <!-- section title -->
                <div class="title text-center">
                    <h2>About Us</h2>
                    <p>
                        We are driven by our passion to serve and this fuels our dream of becoming the preferred partner of choice within our cervices.
                    </p>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img loading="lazy" src="{{ 'assets/images/about-us.jpg'|theme }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6">
                <p>
                We have built a company with big ambitions to achieve great things in the logistics sector, growing and succeeding in a challenging, fiercely competitive market. 
                We have been amassing expertise and experience for decades, relentlessly striving to provide specialized logistics services.
                </p>
                <p>
                    We consider people to be our best assets, training and honing the specialist skills necessary to serve our clients’ every need, 
                    implementing tailor-made logistics concepts.
                </p>
                <p>
                    Quality and integrity underpin all that we do in the creation of new and exciting services designed to give our partners and clients complete satisfaction. 
                </p>
                
                <p>
                    A complete range of services that designed to fulfil customers specific requirement from A to Z . We enhance the logistics process in our customers supply chain management  through consulting , identifying, managing risk, finding most preferred route and mode of transportation to be delivered timely and safety.
                </p>
                
                <!-- <h4>Our Services</h4>
                <ul class="feature-list">
                    <li> <i class="tf-ion-android-checkmark-circle"></i> International Freight & Forwarding</li>
                    <li> <i class="tf-ion-android-checkmark-circle"></i> Domestic Forwarding</li>
                    <li> <i class="tf-ion-android-checkmark-circle"></i> Logistic Project</li>
                    <li> <i class="tf-ion-android-checkmark-circle"></i> Control Tower Project</li>
                </ul>
                <a href="{{ 'service'|page }}" class="btn btn-main mt-20">Learn More</a> -->
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->