description = "Header Partial for Rubarta Logistic Indonesia"
==
<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
    <div class="container">
        <!-- main nav -->
        <nav class="navbar navbar-expand-lg navbar-light px-0">
            <!-- logo -->
            <a class="navbar-brand logo" href="{{ 'home'|page }}">
                <img loading="lazy" class="logo-default" src="{{ 'assets/images/logo.png'|theme }}" style="height:40px" alt="logo" />
                <img loading="lazy" class="logo-white" src="{{ 'assets/images/logo-white.png'|theme }}" style="height:40px" alt="logo" />
            </a>
            <!-- /logo -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item {% if this.page.id == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{{ 'rubarta-logistic-indonesia/home'|page }}">Home</a>
                    </li>
                    <li class="nav-item {% if this.page.id == 'about' %}active{% endif %}">
                        <a class="nav-link" href="{{ 'rubarta-logistic-indonesia/about'|page }}">About Us</a>
                    </li>
                    <li class="nav-item {% if this.page.id == 'service' %}active{% endif %}">
                        <a class="nav-link" href="{{ 'rubarta-logistic-indonesia/service'|page }}">Services</a>
                    </li>
                    <li class="nav-item {% if this.page.id == 'unit' %}active{% endif %}">
                        <a class="nav-link" href="{{ 'rubarta-logistic-indonesia/unit'|page }}">Our Unit</a>
                    </li>
                    <li class="nav-item {% if this.page.id == 'network' %}active{% endif %}">
                        <a class="nav-link" href="{{ 'rubarta-logistic-indonesia/network'|page }}">Network</a>
                    </li>
                    <li class="nav-item {% if this.page.id == 'contact' %}active{% endif %}">
                        <a class="nav-link" href="{{ 'rubarta-logistic-indonesia/contact'|page }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /main nav -->
    </div>
</header>
<!--
End Fixed Navigation
==================================== -->