description = "Service Partial"
==
<section class="services" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section title -->
            <div class="col-xl-6 col-lg-8">
                <div class="title text-center">
                    <h2>Our Services</h2>
                    <!-- <p>
                        Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum
                        iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a
                        risus luctus dignissim.
                    </p> -->
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div>
        <div class="row no-gutters">

            <!-- Single Service Item -->
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <a href="/rubarta-logistic-indonesia/international-freight-forwarding">
                            <i class="tf-ion-android-plane"></i>
                        </a>
                    </div>
                    
                    <a href="/rubarta-logistic-indonesia/international-freight-forwarding">
                        <h3>International Freight & Forwarding</h3>
                    </a>
                    
                    <p>
                        We arranging with multi mode transportation from country of origin to destination by : <br>
                        1. Air Freight Shipment <br>
                        2. Sea Freight Shipment ( LCL & FCL ) <br>
                        3. Customs clearance process <br>
                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <a href="/rubarta-logistic-indonesia/domestic-forwarding">
                            <i class="tf-ion-android-train"></i>
                        </a>
                    </div>
                    
                    <a href="/rubarta-logistic-indonesia/domestic-forwarding">
                        <h3>Domestic Forwarding</h3>
                    </a>
                    
                    <p>
                        We arranging Domestic Shipping with multi mode transportation to destination by : <br>
                        1. Air freight Mode <br>
                        2. Sea freight Mode <br>
                        3. Land ( trucking ) Mode
                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->
            
            <!-- Single Service Item -->
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4 text-center">
                    <div class="service-icon text-center">
                        <a href="/rubarta-logistic-indonesia/logistic-project">
                            <i class="tf-ion-ios-shuffle-strong"></i>
                        </a>
                        
                    </div>
                    <a href="/rubarta-logistic-indonesia/logistic-project">
                        <h3>Logistic Project</h3>
                    </a>
                    
                    <p>
                        We providing Logistic Project with combination transportation mode to destination.
                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <div class="service-block p-4  text-center">
                    <div class="service-icon text-center">
                        <a href="/rubarta-logistic-indonesia/control-towering">
                            <i class="tf-ion-android-settings"></i>
                        </a>
                        
                    </div>
                    <a href="/rubarta-logistic-indonesia/control-towering">
                        <h3>Control Tower Project</h3>
                    </a>
                    
                    <p>
                        We under developing control tower project joint venture with 
                    </p>
                </div>
            </div>
            <!-- End Single Service Item -->

        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->