description = "Single Page Header Partial"

[viewBag]
==
<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ this.page.title }}</h2>
                <ol class="breadcrumb header-bradcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="{{ 'index'|page }}" class="text-white">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ this.page.title }}</li>
                </ol>
            </div>
        </div>
    </div>
</section>